{
  "extends": [
    "eslint:recommended",
    "react-app",
    "react-app/jest",
    "semistandard"
  ],
  "ignorePatterns": [
    "build/*"
  ],
  "plugins": [
    "import",
    "import-length",
    "simple-import-sort"
  ],
  "rules": {
    "import-length/import-length": "error",
    "import/newline-after-import": "error",
    "import/no-anonymous-default-export": "error",
    "import/no-useless-path-segments": "error",
    "import/order": "error",
    "simple-import-sort/imports": "error"
  }
}
